<%= hide_component_button %>

<% documents.each do |document| %>

  <div id="<%= document[:ref] %>" <%= highlight?(document[:ref]) %> class="component_part clearfix c0<%= document[:component_level] %>">

    <!-- unitid_display was removed from the comma_list because it's not in solr anymore -->
    <h5 id="<%= document[:id] %>">
      <span>
        <%= comma_list( [document["title_display"], document["unitdate_display"]] ) %>
      </span>
    </h5>

    <!-- removed summary_display field because it's not in solr anymore -->

    <dl>
      <%= render_odd_field(document) %>
      <%= render_component_field(document, "scopecontent_display") %>
      <%= render_component_field(document, "separatedmaterial_display") %>
      <%= render_component_field(document, "accessrestrict_display") %>
      <%= render_component_field(document, "originalsloc_display") %>
      <%= render_component_field(document, "physdesc_display") %>
      <%= render_component_field(document, "dimensions_display") %>

      <!-- location_display is not in Blacklight config -->
      <%= render_component_field(document, "location_display", { :label => "Location" }) %>

      <%= render_component_field(document, "langmaterial_display") %>
      <%= render_component_field(document, "acqinfo_display") %>

    </dl>

    <%= continue_components(document) %>

  </div>

<% end %>
