<%= hide_component_button %>

<% documents.each do |document| %>

  <div id="<%= document[:ref] %>" class="component_part clearfix c0<%= document[:component_level] %>">

    <h5 id="<%= document[:id] %>">
      <span>
        <%= comma_list( [document["c_title_display"], document["unitdate_display"], document["unitid_display"]] ) %>
      </span>
    </h5>

    <% unless document["summary_display"].nil? %>
      <p><span class="summary"><%= display_field(document["summary_display"]) %></span></p>
    <% end %>

    <dl>
      <% unless document["odd_display"].nil? and document["odd_label_display"].nil? %>
        <%= display_odd_fields(document["odd_display"], document["odd_label_display"]) %>
      <% end %>

      <% unless document["scopecontent_display"].nil? %>
        <dt>Scope and Content:</dt>
        <dd class="scopecontent"><%= display_field(document["scopecontent_display"]) %></dd>
      <% end %>

      <% unless document["separatedmaterial_display"].nil? %>
        <dt>Separated Materials:</dt>
        <dd class="separatedmaterial"><%= display_field(document["separatedmaterial_display"]) %></dd>
      <% end %>

      <% unless document["accessrestrict_display"].nil? %>
        <dt>Access Restrictions:</dt>
        <dd class="separatedmaterial"><%= display_field(document["accessrestrict_display"]) %></dd>
      <% end %>

      <% unless document["originalsloc_display"].nil? %>
        <dt>Existence and Location of Originals:</dt>
        <dd class="originalsloc"><%= display_field(document["originalsloc_display"]) %></dd>
      <% end %>

      <% unless document["physdesc_display"].nil? %>
        <dt>Physical Description:</dt>
        <dd class="physdesc"><%= display_field(document["physdesc_display"]) %></dd>
      <% end %>

      <% unless document["location_display"].nil? %>
        <dt>Location:</dt>
        <dd class="container"><%= display_field(document["location_display"]) %></dd>
      <% end %>

      <% unless document["langmaterial_display"].nil? %>
        <dt>Language:</dt>
        <dd class="langmaterial"><%= display_field(document["langmaterial_display"]) %></dd>
      <% end %>
    </dl>

    <%= continue_components(document) %>

  </div>

<% end %>
