<%= hide_component_button %>

<% documents.each do |document| %>

  <div id="<%= document[:ref] %>" class="component_part clearfix c0<%= document[:component_level] %>">

    <!-- unitid_display was removed from the comma_list -->
    <h5 id="<%= document[:id] %>">
      <span>
        <%= comma_list( [document["c_title_display"], document["unitdate_display"]] ) %>
      </span>
    </h5>

    <!-- removed summary_dislpay field -->

    <dl>
      <% # render_component_field "odd_display" %>
      <% #render_component_field "scopecontent_display" %>
      <% #render_component_field "separatedmaterial_display" %>
      <%#render_component_field "accessrestrict_display" %>
      <%#render_component_field "originalsloc_display" %>
      <%#render_component_field "physdesc_display" %>
      <%#render_component_field("dimensions_display") %>

      <!-- location_display is not in Blacklight config -->
      <%#render_component_field("location_display", { :label => "Location" }) %>

      <%#render_component_field("langmaterial_display") %>
      <%#render_component_field("acqinfo_display") %>

    </dl>

    <%= continue_components(document) %>

  </div>

<% end %>
