<% documents.each do |document| %>

  <div id="<%= document[:ref] %>" class="component_part clearfix c0<%= document[:component_level] %>">

    <h5><%= document[:id] if RAILS_ENV == "development" %></h5>

    <h5 id="<%= document["parent_ref"] %>">
      <span>
        <%= comma_list( [document["title_display"], document["unitdate_display"], document["unitid_display"]] ) %>
      </span>
    </h5>

    <% unless document["summary_display"].nil? %>
      <p><span class="summary"><%= document["summary_display"] %></span></p>
    <% end %>

    <dl>
      <% unless document["odd_display"].nil? and document["odd_label_display"].nil? or document["odd_label_display"].first.match("Accession") %>
        <dt><%= document["odd_label_display"] %>:</dt>
        <dd class="odd"><%= document["odd_display"] %></span></dd>
      <% end %>

      <% unless document["physdesc_display"].nil? %>
        <dt>Dimensions:</dt>
        <dd class="physdesc"><%= document["physdesc_display"] %></dd>
      <% end %>

      <% unless document["scopecontent_display"].nil? %>
        <dt>Scope:</dt>
        <dd class="scopecontent"><%= document["scopecontent_display"] %></dd>
      <% end %>

      <% unless document["location_display"].nil? %>
        <dt>Location:</dt>
        <dd class="container"><%= document["location_display"] %></dd>
      <% end %>
    </dl>

    <%= continue_components(document) %>

  </div>

<% end %>
