<% did = element.xpath('did').first %>
<% odd = element.xpath('odd').first %>

<div class="component_part clearfix c01">
<h5 id="<%= ead_link_id(element, '') %>">
  <span>
    <%= comma_list( [ead_text(did, 'unittitle'), ead_text(did, 'unitdate'), ead_text(did, 'unitid')] ) %>
  </span>
</h5>

<%= ead_paragraphs(element.xpath('scopecontent').first) %>

<% if did.xpath('container').first %>
  <span class="container">
    [<% did.xpath('container').each do |container| -%>
      <%= container.attribute('type') %>: <%= container.text %>
    <% end -%>]
  </span>
<% else %>
  <%= link_to "More", components_path(
      :parent_ref => ead_link_id(element, ''),
      :ead_id     => params[:id],
      :level      => 2) %>
<% end %>

</div>
