<div id="video_box">

<!-- player container-->
<div id="player">&nbsp;</div>

<!-- the playlist -->
<%  if @document[:access_file_s].count > 1 %>
  <div id="playlist" class="clearfix" style="display:none">
    <div>${title}</div>
  </div>
<% end %>

<!-- let rest of the page float normally -->
<br clear="all" />

</div>

<script type="text/javascript">
  $f("player", "<%= root_path %>flowplayer/flowplayer.commercial-3.2.15.swf", {
  // the playlist
  playlist: [
    <%= flowplayer_playlist %>
  ],

  // commercial version license key
  key: '#$2dfa073ca619da289cf',
 
  // now we can tweak the logo settings
  logo: {
    url:            '<%= image_path("rh_video_overlay.png") %>',
    top:            20,
    left:           20,
    fullscreenOnly: false,
    displayTime:    5,
    fadeSpeed:      2000
  },

  // each clip on the playlist uses the rtmp plugin
  clip: {
    provider: 'rtmp'
  },

  // the rtmp plugin
  plugins: {
    rtmp: {
      url:              '<%= root_path %>flowplayer/flowplayer.rtmp-3.2.11.swf',
      netConnectionUrl: '<%= rtmp_url  %>'
    },

    // include playlist buttons in the controlbar
    controls: {
      playlist: true,
      tooltips: {
        buttons: true,
      },
      tooltipColor: '#EFD2D2',
      tooltipTextColor: '#BE4646'
    }
  }

}).playlist("#playlist");
$("#playlist").show();

</script>
