<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slides/example-slide-1.jpg" %>
      <div class="carousel-caption">
        <%= content_tag :h3, "First slide label" %>
        <%= content_tag :p, "Nulla vitae elit libero, a pharetra augue mollis interdum." %>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slides/example-slide-2.jpg" %>
      <div class="carousel-caption">
        <%= content_tag :h3, "Second slide label" %>
        <%= content_tag :p, "Lorem ipsum dolor sit amet, consectetur adipiscing elit." %>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slides/example-slide-3.jpg" %>
      <div class="carousel-caption">
        <%= content_tag :h3, "Third slide label" %>
        <%= content_tag :p, "Praesent commodo cursus magna, vel scelerisque nisl consectetur." %>
      </div>
    </div>
    <div class="item">
      <%= image_tag "slides/example-slide-4.jpg" %>
      <div class="carousel-caption">
        <%= content_tag :h3, "Fourth slide label" %>
        <%= content_tag :p, "In vino veritas et post hoc ergo propter hoc." %>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
