<% did = element.xpath('did').first %>
<% odd = element.xpath('odd').first %>

<div class="component_part clearfix c03">
  <% did = element.xpath('did').first -%>

  <h5 id="<%= Rockhall::EadMethods.ead_link_id(element, '') %>">
    <span class="unittitle"><%= Rockhall::EadMethods.ead_text(did, 'unittitle') %></span>
    <span class="unitdate"><%= Rockhall::EadMethods.ead_text(did, 'unitdate') %></span>
    <span class="unitid"><%= Rockhall::EadMethods.ead_text(did, 'unitid') %></span>
  </h5>

  <% unless odd.nil? %>
    <p><%= ead_text(odd, 'p') %></p>
  <% end %>

  <span class="physdesc"><%= Rockhall::EadMethods.ead_text(did, 'physdesc') %></span>

  <% if !did.xpath('container').blank? -%>
  <span class="container">
    [<% did.xpath('container').each do |container| -%>
      <%= container.attribute('type') %>: <%= container.text %>
    <% end -%>]
  </span>
  <% end -%>

  <% #dao(did) %>
  <%= Rockhall::EadMethods.ead_paragraphs(element.xpath('scopecontent').first) %>

</div>
