<div class="component_part clearfix c0<%= params[:level] %>">

  <h5 id="<%= document["parent_ref"] %>">
    <span>
      <%= comma_list( [document["title_display"], document["unitdate_display"], document["unitid_display"]] ) %>
    </span>
  </h5>

  <p><span class="summary"><%= document["summary_display"] %></span></p>

  <span class="odd"><%= document["odd_display"] %></span>

  <span class="physdesc"><%= document["physdesc_display"] %></span>

  <span class="scopecontent"><%= document["scopecontent_display"] %></span>

  <% unless document["location_display"].nil? %>
    <span class="container">[<%= document["location_display"] %>]</span>
  <% end %>

  <% if children %>
    <% level = params[:level].to_i + 1 %>
    <%= link_to "More", components_path(
        :parent_ref  => document["ref"],
        :ead_id      => params[:ead_id],
        :level       => level ) %>
  <% end %>

</div>
