<%= content_tag :div, :class => "row" do %>
  <%= content_tag :div, :class => "col-xs-12" do %>
    <%= content_tag :h1, "Search" %>
    <%= content_tag :p, "Search the catalog for books, music, magazines, and archival collections" %>
    <%= render_search_bar %>
    <span class="block"><%= link_to "How to use the catalog" %></span>
    <span class="block"><%= link_to "Search tips" %></span>
    <span class="block"><%= link_to "Login" %></span>
    <span class="block"><%= link_to "Advanced Search" %></span>
  <% end %>
<% end %>
<%= content_tag :div, :class => "row" do %>
  <%= content_tag :div, :class => "col-xs-12" do %>
    <%= content_tag :h1, "Browse" %>
    <span class="block"><%= link_to "Archival Colletions" %></span>
    <span class="block"><%= link_to "Research Guides" %></span>
    <span class="block"><%= link_to "Databases" %></span>
    <span class="block"><%= link_to "List of Inductees" %></span>
    <span class="block"><%= link_to "New Aquisitions" %></span>
  <% end %>
<% end %>
