<%= content_tag :h1, "Discover" %>
<%= content_tag :div, :class => "col-xs-6" do %>
  <%= content_tag :h3, "Resources" %>
  <span class="block"><%= link_to "Archival Collections" %></span>
  <span class="block"><%= link_to "Research Guides" %></span>
  <span class="block"><%= link_to "Databases" %></span>
  <span class="block"><%= link_to "Inductees" %></span>
<% end %>
<%= content_tag :div, :class => "col-xs-6" do %>
  <%= content_tag :h3, "User Guides" %>
  <span class="block"><%= link_to "Using the Catalog" %></span>
  <span class="block"><%= link_to "Using Archives" %></span>
  <span class="block"><%= link_to "Access" %></span>
  <span class="block"><%= link_to "Contact Us" %></span>
<% end %>
