<h1>
  <%= document_icon(@document) %>
  <%= document_heading %>
</h1>

<% unless Rails.env.match("production") %>
  <% sidebar_items << capture do %>
    <p>
      Video request from
      <ul>
        <li><%= request.remote_ip %></li>
        <li><%= request.host_with_port %></li>
      </ul>
    </p>
  <% end %>
<% end %>

<% unless @document[:access_file_s].nil? %>
  <%= render :partial => "player/jw_player" %>
<% end %>