<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_path(:format => 'xml', :only_path => false) %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
  </head>
  <% onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
  <body onload="<%= onload_text %>" class="<%= render_body_class.html_safe %>">
    <div id="page">

      <div id="hd">
        <h1>
          <%= link_to("Rock Hall", "http://rockhall.com/", {:target => "_blank"}) %>
        </h1>
        <br class="clr">
        <div id="main_nav">
          <ul>
            <li>
              <div>
                <%= link_to("Rock Hall", "http://library.rockhall.com/", {:target => "_blank"}) %>
              </div>
            </li>
            <li>
              <div>
                <%= link_to("Library + Archives", "http://library.rockhall.com/", {:target => "_blank"}) %>
              </div>
            </li>
            <li>
              <div id="banner-text">
                <span>Library&nbsp;+&nbsp;Archives</span>
              </div>
            </li>
            <li style="background: none"/>
            <li style="background: none"/>
            <li style="background: none"/>
            <li style="background: none"/>
            <li style="background: none"/>
            <li style="background: none"/>
          </ul>
        </div>

      </div>

      <div id="bd">
        <div id="main">
          <div id="main_container">
            <%= render :partial=>'/flash_msg' %>
            <%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %>
            <%= render :partial=>'/user_util_links' %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar">
          <%= sidebar_items.join('').html_safe %>
        </div>
      </div>
      <div id="ft">
        <%= raw(@footer) %>
        <span><%= link_to("Rock and Roll Hall of Fame and Museum", "http://rockhall.com", { :id=>"white_link", :target => "_blank" }) %> | Library and Archives</span><br/>
        <span>2809 Woodland Avenue | Cleveland, OH 44115 | 216.515.1956 | <%= mail_to("library@rockhall.org", "library@rockhall.org", {:id=>"white_link"}) %></span>
      </div>
    </div>
  </body>
</html>
